<!-- templates/disclaimer.html -->

{% extends 'base.html' %}

{% block title %}Disclaimer{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comb.css') }}">
{% endblock %}

{% block content %}
    <h2>Disclaimer</h2>
    <h3>Description</h3>
    <p>Welcome to the ENGR391-Numerical Methods project repository. This repository is dedicated to providing Python implementations of 
        numerical methods to solve problems related to the ENGR 391 class. It is designed to aid your understanding of numerical techniques, 
        but it comes with certain guidelines to ensure ethical usage.</p>
    <h4>Important Note: Code Sharing Restrictions</h4>
    <p>The Python code contained within this repository is intended solely for personal educational purposes. 
        It should not be shared publicly, especially with individuals who are currently enrolled in the ENGR 391 course. 
        Sharing these code solutions, particularly for assignments, midterms, and finals, could lead to academic integrity 
        violations and negatively impact the learning experience of others.</p>
    <h5>Usage Disclaimer</h5>
    <p>While this repository prohibits the use of its code for assignments, midterms, and finals, it's important to clarify 
        that the professor does not actively monitor or enforce this restriction. It is the responsibility of users to abide 
        by the academic integrity policies of their institution and to use external resources responsibly and ethically.</p>
    <h6>Disclaimer</h6>
    <p>This repository aims to enhance understanding of numerical methods through practical implementations. However, the 
        maintainers and contributors are not liable for any consequences that arise from the misuse or inappropriate sharing 
        of code from this repository. Users are expected to exercise discretion and integrity when using the code in their coursework.</p>
    
{% endblock %}
